<link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'> 
<link rel="stylesheet" type="text/css" runat="server" media="screen" href="~/css/Stylesheet.css" />
<div class="main">
<h1>Welcome to Pierre's Vendor</h1>

<h1><a href='/vendor/new'>Add a Vendor</a></h1>

<h2><a href='/vendor'>See list of Vendors</a></h2>


</div>

