@{
  Layout = "_Layout";
}
<div class="container" id="main">
<img src="https://st2.depositphotos.com/1002277/10402/i/950/depositphotos_104022884-stock-photo-word-vendor-on-wood-planks.jpg" alt="picture of a word Vendor" height="200" width="400">
<h1>Welcome to Pierre's Vendor</h1>
<h1><a href='/vendor/new'>Add a Vendor</a></h1>
<h2><a href='/vendor'>See list of Vendors</a></h2>
</div>

