@using Bakery.Models;
<link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'> 
<link rel="stylesheet" type="text/css" runat="server" media="screen" href="~/css/Stylesheet.css" />


<h1>List Of Vendors</h1>
<ol>
    @foreach (VendorList name in Model)
    {
      <h2><li><a href = '/bakery/{Id}/orders/new'>@name.Name</a></li></h2>
       <h5>Description: <a href ='/bakery/{Id}/orders/new'>@name.Description</a></h5>
    }
  </ol>
  
  <h3><a href="/bakery/new">Add a new Vendor.</a></h3>
