@using Bakery.Models;
<link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'> 
<link rel="stylesheet" type="text/css" runat="server" media="screen" href="~/css/Stylesheet.css" />


<h1>List Of Vendors</h1>
<ul>
    @foreach (VendorList name in Model)
    {
      <li><a href='/bakery/orders'>@name.Name</a></li>
      <li>@name.Id</li>
    }
  </ul>

  <form action="/vendorList/{id}">
  <label for="vendorListID">Search a vendor</label>
  <input id="vendorListID" name="vendorListID" type="text">
  <button type="submit">Submit</button>
</form>

  
  <li><a href="/bakery/new">Add a new Vendor.</a></li>
