@using Bakery.Models;
<link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'> 
<link rel="stylesheet" type="text/css" runat="server" media="screen" href="~/css/Stylesheet.css" />


<h1>List Of Vendors</h1>
<ol>
    @foreach (VendorList name in Model)
    {
      <li><a href = '/bakery/{Id}/orders/new'>@name.Name</a></li>
      <a href ='/bakery/{Id}/orders/new'>@name.Description</a>


    }
  </ol>
  
  <li><a href="/bakery/new">Add a new Vendor.</a></li>
