@using Bakery.Models;
<link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'> 
<link rel="stylesheet" type="text/css" runat="server" media="screen" href="~/css/Stylesheet.css" />

<form action="/bakery/{Id}/orders/new" method="post">
  <label for="title">Add a new title</label>
  <input id="title" name="title" type="text">
  
  <label for="description">Add the description</label>
  <input id="description" name="description" type="text">
  
  <label for="price">Add the price</label>
  <input id="price" name="price" type="text">
  
  <label for="date">Add the date</label>
  <input id="date" name="date" type="text">

  <button class="btn btn-primary" type="submit">Submit</button>

@foreach (Order name in Model)
    {
    <ol><li>Name of Vendor:  @name.Title<br> Description:  @name.Description <br> Price of Order:  @name.Price <br> Date: @name.Date</li></ol>
    }