<form action="/bakery/{id}/orders/new" method="post">
  <label for="title">Add a new title</label>
  <input id="title" name="title" type="text">

  <label for="description">Add the description</label>
  <input id="description" name="description" type="text">

   <label for="price">Add the price</label>
  <input id="price" name="price" type="text">
  <label for="date">Add the date</label>
  <input id="date" name="date" type="text">

  <button type="submit">Submit</button>

  <a href = '/bakery/{id}/orders/new'>see the list of orders for this vendor this vendor.</a>
</form>