@using Bakery.Models;
<link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'> 
<link rel="stylesheet" type="text/css" runat="server" media="screen" href="~/css/Stylesheet.css" />


<h1>Orders</h1>
<h2>@Model.Name</h2>
<ul>
<li><h3>Description of order: @Model.Description</h3></li>
</ul>

<a href='/bakery/new'>Add</a>
<a href='/bakery'>View List</a>
<a href = '/bakery/{id}/orders/new'>Create a new order for this vendor.</a>
<p><a href='/'>Back home</a></p>