@using Bakery.Models;
<link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'> 
<link rel="stylesheet" type="text/css" runat="server" media="screen" href="~/css/Stylesheet.css" />


<h1>Orders</h1>
<ul>
@foreach (Order name in Model)
{
 <li>@name.Title</li>
}
</ul>
<p><a href='/'>Back home</a></p>