<h1>Add a Order</h1>
<p>Add a Order here:</p>

<form action="/orders" method="post">
  <label for="title">Order title</label>
  <input id="title" name="title" type="text">
  <label for="description">Order description</label>
  <input id="description" name="description" type="text">
  <label for="price">Order price</label>
  <input id="price" name="price" type="text">
  <label for="date">Order date</label>
  <input id="date" name="date" type="text">
  <button type="submit">Add</button>
</form>

<p><a href="/">Back home</a></p>
<p><a href="/orders">Back to categories.</a></p>